include ../main.jade
        link(rel='stylesheet',href='../css/work.css')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/split.js/1.5.9/split.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js")
        scirpt(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-language_tools.js")
        //- scirpt(src="https://rawgithub.com/ajaxorg/ace-builds/master/src/ext-language_tools.js")
        //- script(src='../js/ace-editor-vue-component.js')
        script(src='../../js/ckeditor_basic/ckeditor.js')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css')
        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/nanum-gothic-coding@4.0.0/nanum-gothic-coding.min.css')
        link(rel='stylesheet', href='http://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/source-code-pro@2.30.0/source-code-pro.css')
        .workframe
                .codediv
                        .html
                                .codetitle
                                        span HTML
                                        .codesetting
                                                img.sethtml.set(src='../../img/setting.png')
                                                .setlib.set(style='height:85px;')
                                                        p HTML 종류
                                                        span.dropdown-el.hl
                                                                input#html(type='radio', value='html',v-model='html')
                                                                label(for='html') HTML
                                                                input#haml(type='radio', value='haml',v-model='html')
                                                                label(for='haml') HAML
                                                                input#pug(type='radio', value='pug',v-model='html')
                                                                label(for='pug') PUG
                                .codehtml#editor(data-num=0)
                        .css
                                .codetitle
                                        span CSS
                                        .codesetting
                                                img.setcss(src='../../img/setting.png')
                                                //- .setlib
                                .codecss#editor(data-num=1)
                        .js
                                .codetitle
                                        span JS
                                        .codesetting
                                                img.setjs(src='../../img/setting.png')
                                                //- .setlib
                                .codejs#editor(data-num=2)
                .resultdiv
                        .result#cap
                                iframe#iframe(:src='src', frameborder="0" width='100%' name='re_page' marginwidth='0' marginheight='0' )
                                p(style='display:none') {{total}}              
.workbtm
        button.allbtn.pr_comment 댓글
.layer
        .save_layer
        .popup_save_con.savelayer
                .input_title.savelayer
                        input(type='text' autocomplete="off" placeholder='프로젝트 제목' @input='titleinput' v-bind:value='title')
                .input_open.savelayer
                        input#open1(name='open', type='radio' value='public' v-model='open')
                        label(for='open1') 공개
                        input#open2(name='open', type='radio' value='private' v-model='open')
                        label(for='open2') 비공개
                .input_newpro_check.savelayer(:style="{display:viewnew}")
                        input#newproject(type='checkbox' v-model='new_check')
                        label(for='newproject') 새프로젝트
                .input_version_check.savelayer(:style="{display:viewselect}")
                        input#newversion(type='radio' value='new' v-model='version_check')
                        label(for='newversion') 새버전
                        input#oldversion(type='radio' value='old' v-model='version_check')
                        label(for='oldversion') 기존버전사용
                .input_version_select.savelayer(:style="{display:viewvl}")
                        span.dropdown-el.savelayer.vl
                                template(v-for='vers in ver')
                                        input(:id='vers.ver_no' type='radio', :value='vers.ver_no', :data-pv='vers.pv_no' v-model='version_dl')
                                        label(:for='vers.ver_no') {{vers.ver_no}}
                .input_version.savelayer(:style="{display:viewinput}")
                        input(type='text' autocomplete="off" placeholder='버전이름' @input='versioninput' v-bind:value='version')
                .input_text.savelayer
                        textarea#write(placeholder="설명")
                .input_btn.savelayer
                        button.allbtn#save(@click='save_project') 저장
                        button.allbtn#close(@click='close') 취소
                if(pr)
                        .source(style='display:none' data-html=source.pv_html data-css=source.pv_css data-js=source.pv_js data-total=source.pv_file data-title=source.pro_title data-version=source.ver_no data-nick=source.mem_nick data-prono=source.pro_no)
.comment_layer
        .save_layer
        .popup_save_con.savelayer
                .close
                        img(src='../../img/close.png')
                .pr_text_layer.savelayer
                        .pr_text_body.savelayer
                                .postlike.savelayer
                                        if(like>0)
                                                img(src='../../img/like3.png' data-ok=1 onclick='like(this)')
                                        else
                                                img(src='../../img/like2.png' data-ok=0 onclick='like(this)')
                                .writer.savelayer
                                        if(pr)
                                                img(src='../../file/usericon/#{source.mem_pic}')
                                .info.savelayer
                                        if(pr)
                                                p=source.mem_nick
                                        .img.savelayer
                                                img(src='../../img/view.png')
                                                span {{view_cnt}}
                                                img(src='../../img/comment.png')
                                                span {{com_cnt}}
                                                img(src='../../img/like.png')
                                                span {{like_cnt}}
                                .text.savelayer
                                        if(pr)
                                                p!=source.ver_text
                .pr_comment_layer.savelayer
                        .comtitle.savelayer
                                p 댓글
                        .com.savelayer(v-if='len')
                                template(v-for='comm in cl')
                                        .combody.savelayer
                                                .btn_div.savelayer(v-if='comm.pro_no')
                                                        button.allbtn.update(:data-num='comm.pc_no' onclick='update(this)') 수정
                                                        button.allbtn.delete(:data-num='comm.pc_no' onclick='delcom(this)') 삭제
                                                .title.savelayer
                                                        .img.savelayer
                                                                img(:src ="comm.mem_pic")
                                                        span {{comm.mem_nick}}
                                                        span {{comm.pc_reg}}
                                                .body.savelayer
                                                        p.savelayer(v-html="comm.pc_text")
                        .com.savelayer(v-else)
                                .nocom.savelayer
                                        p 댓글이 없습니다
                if(log)
                        .comwrite.savelayer
                                .writetitle.savelayer
                                        p 댓글작성
                                .writebody.savelayer
                                        textarea#comment_write
                                button.allbtn.insert(@click='insert') 작성
        script.
                Vue.config.devtools = true 
                log=#{log}
                nick='#{user.mem_nick}'
                pr=#{pr}
                master=#{master}
                html=''
                css=''
                js=''
                total=''
                title=''
                version_name=''
                pro_no=''
                console.log(log)
                //- console.log(pro_no)
                $('.pr_comment').css('display','none')
                if(log==0){
                        theme='ace/theme/xcode'
                        font='D2 coding'
                        size='12px'
                }else{
                        theme='#{user.mo_theme}'
                        font='#{user.mo_font}'
                        size='#{user.mo_size}'
                }
                if(pr){
                        html=$('.source').data('html')
                        css=$('.source').data('css')
                        js=$('.source').data('js')
                        total=$('.source').data('total')
                        title=$('.source').data('title')
                        version_name=$('.source').data('version')
                        nick=$('.source').data('nick')
                        pro_no=$('.source').data('prono')
                        $('.pr_comment').css('display','inline-block')
                        $('.project_top').css('display','inline-block')
                        $('.project_title').children().text(title)
                        $('.project_version').children().text(version_name)
                        $('.project_writer').children().text(nick)
                }
                if(master){
                        $('#version_select').css('display','inline-block')
                        $.ajax({
                                url:'/get_version_all',
                                dataType:'json',
                                type:'post',
                                data:{pro_no:pro_no},
                                success:(result)=>{
                                        num=result.list.length-1
                                        save.ver=result.list
                                        save.pro_no=result.list[num].pro_no
                                        save.pv_no=result.list[num].pv_no
                                        save.viewname='inline-block'
                                        save.version_dl=result.list[num].ver_no
                                        save.new_check=0
                                        save.version_check='old'
                                        version.ver=result.list
                                        version.version_dl=result.list[num].ver_no
                                        version.ver_text=result.list[num].ver_text
                                        CKEDITOR.instances.write.setData(version.ver_text)
                                }
                        })
                }
                var comment=new Vue({
                        el:'.comment_layer',
                        data:{
                                cl:[],
                                len:false,
                                com_cnt:0,
                                view_cnt:0,
                                like_cnt:0,
                        },
                        mounted:function(){
                                this.getdata()
                        },
                        methods:{
                                getdata(){
                                        $.ajax({
                                                url:'/get_comment',
                                                dataType:'json',
                                                type:'post',
                                                data:{pro_no:pro_no},
                                                success:(result)=>{
                                                        if(result.ok){
                                                                comment.cl=result.list
                                                                comment.com_cnt=result.com_cnt
                                                                comment.like_cnt=result.like_cnt
                                                                comment.view_cnt=result.pro_cnt
                                                                if(result.list.length){
                                                                        comment.len=true
                                                                }else{
                                                                        comment.len=false
                                                                }
                                                        }else{
                                                                comment.len=false
                                                        }
                                                }
                                        })
                                },
                                insert(){
                                        body=CKEDITOR.instances.comment_write.getData()
                                        $.ajax({
                                                url:'/write_comment',
                                                dataType:'json',
                                                type:'post',
                                                data:{comment:body,pro_no:pro_no},
                                                success:(result)=>{
                                                        if(result){
                                                                alert('댓글이 작성되었습니다.')
                                                                comment.getdata()
                                                                CKEDITOR.instances.comment_write.setData("")
                                                        }else{
                                                                alert('댓글작성이 실패하였습니다')
                                                        }
                                                }
                                        })
                                }
                        }
                })
                function delcom(btn){
                        text=$(btn).text()
                        num=$(btn)[0].dataset.num
                        if(text=='취소'){
                                $(btn).text('삭제')
                                $(btn).prev().text('수정')
                                body=$(btn).parent().next().next()
                                body.children().eq(0).css('display','block')
                                body.children().eq(1).remove()
                                body.children().eq(1).remove()
                        }else{
                                $.ajax({
                                        url:'/delete_comment',
                                        dataType:'json',
                                        type:'post',
                                        data:{pc_no:num},
                                        success:(result)=>{
                                                if(result){
                                                        alert('댓글이 삭제되었습니다')
                                                        comment.getdata()
                                                }else{
                                                        alert('댓글이 삭제되지않았습니다')
                                                        comment.getdata()
                                                }
                                        }
                                })
                        }
                }
                function update(btn){
                        text=$(btn).text()
                        num=$(btn)[0].dataset.num
                        if(text=='수정'){
                                $(btn).text('완료')
                                $(btn).next().text('취소')
                                body=$(btn).parent().next().next()
                                text=body.children().eq(0).text()
                                html='<textarea id="comup">'+text+'</textarea>'
                                body.children().eq(0).css('display','none')
                                body.append(html)
                                CKEDITOR.replace('comup');
                        }else{
                                body=CKEDITOR.instances.comup.getData()
                                $.ajax({
                                        url:'/update_comment',
                                        dataType:'json',
                                        type:'post',
                                        data:{pc_no:num,comment:body},
                                        success:(result)=>{
                                                if(result){
                                                        alert('댓글이 수정되었습니다')
                                                        delcom($(btn).next())
                                                        comment.getdata()
                                                }else{
                                                        alert('댓글이 수정되지않았습니다')
                                                        delcom($(btn).next())
                                                        comment.getdata()
                                                }
                                        }
                                })
                        }
                }
                function like(img){
                        result=$(img).data('ok')
                        num=pro_no
                        if(log){
                                if(result){
                                        $(img).attr('src','../../img/like2.png')
                                        $.ajax({
                                                url:'/like',
                                                dataType:'json',
                                                type:'post',
                                                data:{num:num,result:result},
                                                success:function(result){
                                                }
                                        })
                                        result=$(img).data('ok',0)
                                        comment.getdata()
                                }else{
                                        $(img).attr('src','../../img/like3.png')
                                        $.ajax({
                                                url:'/like',
                                                dataType:'json',
                                                type:'post',
                                                data:{num:num,result:result},
                                                success:function(result){
                                                }
                                        })
                                        result=$(img).data('ok',1)
                                        comment.getdata()
                                }
                        }else{
                                alert('로그인시 가능합니다')
                        }
                }
                var codesetting=new Vue({
                        el:'.codediv',
                        data:{
                                html:'html',
                                js:'',
                                css:'',
                        },
                })
                var worksetting=new Vue({
                        el:'.worksetting',
                        data:{
                                theme:theme,
                                font:font,
                                size:size
                        },
                        updated:function(){
                                for(i=0;i<editorall.length;i++){
                                        editorall[i].setTheme(this.theme)
                                        editorall[i].setFontSize(this.size)
                                        //- editorall[i].setOptions({enableBasicAutocompletion: true})
                                        $('div[id=editor]').eq(i).css('font-family',this.font)
                                }
                        },
                        methods:{
                                usersetting(){
                                        this.theme=theme
                                        this.size=size
                                        this.font=font
                                },
                                savesetting(){
                                        $.ajax({
                                                url:'/user/settingupdate',
                                                dataType:'json',
                                                type:'post',
                                                data:{theme:worksetting.theme,size:worksetting.size,font:worksetting.font},
                                                success:(result)=>{
                                                        alert('설정이 저장되었습니다')
                                                }
                                        })
                                }
                        }
                })
                var version=new Vue({
                        el:'.version_setting',
                        data:{
                                version_dl:'',
                                ver:[],
                                ver_text:'',
                                pv_no:''
                        },
                        methods:{
                                get_ver(e){
                                        data={pv_no:this.pv_no}
                                        $.ajax({
                                                url:'/get_version',
                                                dataType:'json',
                                                type:'post',
                                                data:data,
                                                success:(version_result)=>{
                                                        if(version_result.ok){
                                                                editorall[0].getSession().setValue(version_result.result.pv_html)
                                                                editorall[1].getSession().setValue(version_result.result.pv_css)
                                                                editorall[2].getSession().setValue(version_result.result.pv_js)
                                                                result.html=version_result.result.pv_html
                                                                result.css=version_result.result.pv_css
                                                                result.js=version_result.result.pv_js
                                                                result.total=version_result.result.pv_html+version_result.result.pv_css+version_result.result.pv_js
                                                                $('.project_version').children().text(version_result.result.ver_no)
                                                        }else{
                                                                alert('버전정보를 가져오는 중 오류가 발생하였습니다.')
                                                        }
                                                }
                                        })
                                },
                                ver_close(e){
                                        $('.version_setting').fadeOut()  
                                }
                        }
                })
                var save=new Vue({
                        el:'.layer',
                        data:{
                                title:title, //제목
                                open:'public', //공개여부
                                version:version_name, //버전
                                description:'', //설명
                                nick:nick, //닉네임
                                save:0, //저장여부
                                ver:[], //기존버전정보
                                version_check:'new', //기존버전사용여부
                                version_dl:'', //현재버전
                                viewvl:'none', //기존버전정보 표시여부
                                viewinput:'block', //새로운버전인풋박스 표시여부
                                viewselect:'none', //기존버전정보사용 표시 여부
                                viewnew:'none', //새프로젝트 버튼 표시여부
                                new_pr:pr, //새로운프로젝트인지 기존프로젝트인지
                                new_check:1,//새 버전사용 여부
                                pro_no:0, //프로젝트번호
                                pv_no:0, //버전 번호
                                img:''

                        },
                        mounted:function(){
                                if(this.new_pr){
                                        this.viewnew='inline-block'
                                }
                        },
                        updated:function(){
                                if(this.new_pr){
                                        this.viewnew='inline-block'
                                }
                                if(this.new_check){
                                        this.viewselect='none'
                                        this.viewvl='none'
                                }else if(!this.new_check){
                                        this.viewselect='block'
                                }
                                if(this.version_check == 'old'){
                                        this.viewvl='block'
                                        this.viewinput='none'
                                }else if(this.version_check=='new'){
                                        this.viewvl='none'
                                        this.viewinput='block'
                                }
                        },
                        methods:{
                                titleinput(e){
                                        this.title = e.target.value
                                },
                                versioninput(e){
                                        this.version=e.target.value
                                },
                                close(e){
                                        $('.layer').fadeOut()
                                },
                                async save_project(e){
                                        save.description=CKEDITOR.instances.write.getData()
                                        data=new Object()
                                        save.pv_no=$('input[id="'+save.version_dl+'"]').data('pv')
                                        if(!save.new_check){
                                                if(save.version_check=='old'){
                                                        data={html:result.html,css:result.css,js:result.js,
                                                                title:save.title,version:save.version_dl,ver_text:save.description,
                                                                open:save.open,h_kind:'none',c_kind:'none',j_kind:'none',save:1,pro_no:save.pro_no,pv_no:save.pv_no,new_version:0,img:save.img,total:result.total}
                                                }else{
                                                        data={html:result.html,css:result.css,js:result.js,
                                                                title:save.title,version:save.version,ver_text:save.description,
                                                                open:save.open,h_kind:'none',c_kind:'none',j_kind:'none',save:1,pro_no:save.pro_no,pv_no:save.pv_no,new_version:1,img:save.img,total:result.total}
                                                }
                                        }else{
                                                data={html:result.html,css:result.css,js:result.js,
                                                        title:save.title,version:save.version,ver_text:save.description,
                                                        open:save.open,h_kind:'none',c_kind:'none',j_kind:'none',save:0,img:save.img,total:result.total}
                                        }
                                        $.ajax({
                                                url:'/save',
                                                dataType:'json',
                                                type:'post',
                                                data:data,
                                                success:(result)=>{
                                                        if(result.ok){
                                                                alert('저장되었습니다')
                                                                $('.layer').fadeOut()
                                                                $('.project_top').css('display','inline-block')
                                                                $('.project_title').children().text(save.title)
                                                                $('.project_version').children().text(save.version)
                                                                $('.project_writer').children().text(save.nick)
                                                                save.save=1
                                                                save.pro_no=result.pro_no
                                                                save.pv_no=result.pv_no
                                                                save.viewnew='inline-block'
                                                                save.ver=result.ver
                                                                version.ver=result.ver
                                                                version.version_dl=result.ver[0].ver_no
                                                                version.ver_text=result.ver[0].ver_text
                                                                CKEDITOR.instances.write.setData(version.ver_text)
                                                                save.version_dl=result.ver[0].ver_no
                                                                $('#version_select').css('display','inline-block')
                                                                $('.pr_comment').css('display','inline-block')
                                                        }else{
                                                                if(result.count==false){
                                                                        alert('기존 버전이름과 겹칩니다.\n 새로운 버전이름으로 작성해주세요.')
                                                                }else{
                                                                        alert('저장이 실패했습니다')
                                                                }
                                                        }
                                                }
                                        })
                                }
                        }
                })
                CKEDITOR.replace( 'write',{
                        filebrowserUploadUrl: '/board/imgupload',
                });
                if($('textarea[id="comment_write"]').length){
                        CKEDITOR.replace( 'comment_write',{
                                filebrowserUploadUrl: '/board/imgupload',
                        });
                }
                CKEDITOR.on('instanceReady', function() { 
                        for(i=0;i<$('[class*=cke]').length;i++){
                                $('[class*=cke]').eq(i).addClass('savelayer')
                        }
                });
                Split(['.codediv', '.resultdiv'], {
                        sizes:[50,50],
                        minSize: [0, 0],
                        snapOffset: 0,
                        elementStyle: function(dimension, size, gutterSize) {
                                return {
                                'width': 'calc(' + size + '% - ' + (gutterSize+2) + 'px)',
                                }
                        },
                        gutter: function (index, direction) {
                                var gutter = document.createElement('div')
                                gutter.className = 'gutter gutter-' + direction
                                gutter.style.height = '100%'
                                gutter.style.float='left'
                                return gutter
                        },
                        gutterSize: 20,
                        onDrag:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        },
                        onDragEnd:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        },
                        onDragStart:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        }
                })
                Split(['.html', '.css','.js'], {
                        direction: 'vertical',
                        sizes:[33.19,33.19,33.19],
                        minSize: [0, 0, 0],
                        snapOffset: 0,
                        gutter: function (index, direction) {
                                var gutter = document.createElement('div')
                                gutter.className = 'gutter gutter-' + direction
                                //- gutter.style.height = '139px'
                                return gutter
                        },
                        gutterSize: 20,
                        onDrag:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        },
                        onDragEnd:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        },
                        onDragStart:function(sizes){
                                for(i=0;i<3;i++){
                                        editorall[i].resize();
                                }
                        }
                })
                var editlen = $('div[id=editor]');
                var editorall=new Array()
                for(i=0;i<editlen.length;i++){
                        ace.require("ace/ext/language_tools");
                        editor=ace.edit(editlen[i])
                        //- editor.setTheme("ace/theme/xcode");
                        editor.setTheme(worksetting.theme);
                        editor.setOptions({
                                showPrintMargin:false,
                                wrap:true,
                                fontSize:worksetting.size,
                                fontFamily:worksetting.font,
                        })
                        editor.getSession().setWrapLimitRange();
                        editor.getSession().setMode(i==0 ? "ace/mode/html" : i==1 ? "ace/mode/css" : "ace/mode/javascript");
                        editorall.push(ace.edit(editlen[i]))
                }
                editorall[0].getSession().setValue(html)
                editorall[1].getSession().setValue(css)
                editorall[2].getSession().setValue(js)
                $('div[id=editor]').on('keyup',function(e){
                        num=$(this).data('num')
                        if(num==0){
                                result.html=editorall[num].getSession().getValue()
                                result.total=result.html+result.css+result.js
                        }else if(num==1){
                                result.css=editorall[num].getSession().getValue()
                                result.total=result.html+result.css+result.js
                        }else{
                                result.js= editorall[num].getSession().getValue()
                                result.total=result.html+result.css+result.js
                        }
                })
                var result=new Vue({
                        el:'.result',
                        data:{
                                html:html,
                                css:css,
                                js:js,
                                total:total,
                                src:'',
                        },
                        updated:function(){
                                this.result_update()
                        },
                        methods:{
                                result_update(){
                                        $.ajax({
                                                url:'/result',
                                                dataType:'json',
                                                type:'post',
                                                data:{html:result.html,css:result.css,js:result.js},
                                                success:(data)=>{
                                                        //- console.log(data)
                                                        //- result.src=data.src
                                                        $('#iframe').attr('src',"/project_result/test.html")
                                                        //- doc = $('iframe')[0].contentWindow.document; 
                                                        //- $body = $('body',doc);
                                                        //- $body.html(data.total)
                                                        result.total=data.total
                                                }
                                        })
                                }
                        }
                })
                result.result_update()
                $('#question').click(()=>{

                })
                $('#version_select').click(()=>{
                        $('.version_setting').fadeIn()
                })
                $('#save_project').click(()=>{
                        $('.layer').fadeIn()
                        $('.layer').click(function(e){
                                var target=e.target
                                if((!$(target).hasClass('savelayer') && !$(target).parent().hasClass('savelayer'))){
                                        $('.layer').fadeOut()
                                }
                        })
                })
                $('.pr_comment').click(()=>{
                        $('.comment_layer').fadeIn()
                        $('.comment_layer').click((e)=>{
                                var target=e.target
                                if((!$(target).hasClass('savelayer') && !$(target).parent().hasClass('savelayer'))){
                                        $('.comment_layer').fadeOut()
                                }
                        })
                })
                $('#setting_project').click(()=>{
                        $('.worksetting').fadeIn()
                })
                $('.hl').click((e)=>{
                        e.preventDefault();
                        e.stopPropagation();
                        if(e.target.localName=='span'){
                                $(e.target).toggleClass('expanded');
                        }else{
                                $(e.target).parent().toggleClass('expanded');
                        }
                        if($(e.target).attr('for')){
                                $('#'+$(e.target).attr('for')).prop("checked", true);
                        }
                        codesetting.html=$(e.target).attr('for')
                });
                $('.dl').click((e)=>{
                        e.preventDefault();
                        e.stopPropagation();
                        if(e.target.localName=='span'){
                                $(e.target).toggleClass('expanded');
                        }else{
                                $(e.target).parent().toggleClass('expanded');
                        }
                        if($(e.target).attr('for')){
                                $('#'+$(e.target).attr('for')).prop('checked',true);
                        }
                        if($(e.target).hasClass('sz')){
                                worksetting.size=$(e.target).attr('for')
                        }else{
                                worksetting.font=$('#'+$(e.target).attr('for')).val()
                        }
                });
                $('.vel').click((e)=>{
                        e.preventDefault();
                        e.stopPropagation();
                        if(e.target.localName=='span'){
                                $(e.target).toggleClass('expanded');
                        }else{
                                $(e.target).parent().toggleClass('expanded');
                        }
                        if($(e.target).attr('for')){
                                $('#'+$(e.target).attr('for')).prop("checked", true);
                        }
                        version.version_dl=$(e.target).attr('for')
                        version.ver_text=$('input[id="'+$(e.target).attr('for')+'"]').data('text')
                        version.pv_no=$(e.target).prev()[0].dataset.pv
                });
                $('.vl').click((e)=>{
                        e.preventDefault();
                        e.stopPropagation();
                        if(e.target.localName=='span'){
                                $(e.target).toggleClass('expanded');
                        }else{
                                $(e.target).parent().toggleClass('expanded');
                        }
                        if($(e.target).attr('for')){
                                $('#'+$(e.target).attr('for')).prop("checked", true);
                                CKEDITOR.instances.write.setData($('input[id="'+$(e.target).attr('for')+'"').eq(0).data('text'))
                        }
                        save.version_dl=$(e.target).attr('for')
                        
                });
                var iframeclick=false;
                $(document).blur(function(){
                        if(iframeclick){
                                $('.worksetting').fadeOut()
                                $('.version_setting').fadeOut()
                                $('.userbar').fadeOut()
                                $('div[class^="setlib"]').fadeOut()
                        }
                });
                $('.sethtml').click(()=>{
                        $('.sethtml').next().fadeIn()
                })
                $('#iframe').mouseover(function(){
                        iframeclick = true;
                });
                $('#iframe').mouseout(function(){
                        iframeclick = false;
                });